extends ./layouts/main.pug

block content
  h1= title
  .container.head
    ul.nav.nav-tabs
      li.active
        a(href='#') Home
      li
        a(href='#') About us

  .container
    h1= title
    form.form-horizontal.page-canvas(action='/login' , method="post")
      .signin-wrapper
        .form-group
          .col-sm-8
            h1= 'Log in to Twitter'
        .form-group
          .col-sm-5
            input#inputEmail3.form-control(type='text', name='username', placeholder='Phone, email or username')
        .form-group
          .col-sm-5
            input#inputPassword3.form-control(type='password', name='password', placeholder='Password')
        .form-group
          .col-sm-12
            .col
              button.btn.btn-primary(align='left' type='submit') Log in
            .col-sm-7
              .checkbox
                label
                  input(type='checkbox' value='1' name='remember_me' checked='checked')
                  | Remember me
                  span.separator &nbsp;&middot;&nbsp;
                  form(action='/retrive_password', method='post')
                    a.button(type='submit') Forgot password?
