extends ./layouts/main.pug

block content
  h1= title
  script(src = "./js/uploadfile.js")
  .container.head
      ul.nav.nav-tabs
        li.active
          a(href='#') Twitter
        li
          a(href='#') Notification
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#') Logout
          li
            a(href='#') Link

  .container
    .row
      .col-md-6
        h3 Edit your profile
        form(method='post', enctype='multipart/form-data', action='/editprofile',class='form-horizontal')
          div(class='form-content' text-align="center")
          div(class='form-group')
            div(class='col-sm-4')
              input(type="text", name="username", class='form-control form-control-inline', placeholder='username')
          div(class='form-group')
            div(class='col-sm-4')
              input(type="number", name="mobileno", class='form-control form-control-inline', placeholder='Mobile Number')
          div(class='form-group')
            div(class='col-sm-4')
              input(type="text", name="email", class='form-control form-control-inline', placeholder='email')
          div(class='form-group')
            div(class='col-sm-4')
              input(type="password", name="password", class='form-control form-control-inline', placeholder='old password')
          div(class='form-group')
            div(class='col-sm-4')
              input(type="password", name="confirmpassword", class='form-control form-control-inline' placeholder='new password')
          div(class="form-group")
            .col-sm-4
              button.btn.btn-primary(type='submit') change profile

      .col-md-6
        h3 update your profile picture
          img(src='http://lorempixel.com/180/180/people/9/' ,width ="285px" height="300px")

        form(method='post', enctype='multipart/form-data', action='/profilepictureupload')
          input(type='file', name='thumbnail')
          input(class="btn btn-primary" type='submit',name="submit")



