extends ./layouts/main.pug

block content

  h1= title
  #wrapper
    .container.head
      ul.nav.nav-tabs
        li.active
          a(href='#') Twitter
        li
          a(href='#') Notification
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#') Logout
          li
            a(href='#') Link
            // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
    .container
      .row.profile
        .col-md-3
          .profile-sidebar
            // SIDEBAR USERPIC
            .profile-userpic
              img.img-responsive(src='./images/cover.jpg', alt='')
            // END SIDEBAR USERPIC
            // SIDEBAR USER TITLE
            .profile-usertitle
              .profile-usertitle-name
                | Marcus Doe
              .profile-usertitle-job
                | Developer
            // END SIDEBAR USER TITLE
            // SIDEBAR BUTTONS
            .profile-userbuttons
              button.btn.btn-primary.btn-sm(type='button') Follow
              button.btn.btn-primary.btn-sm(type='button') Unfollow
            // END SIDEBAR BUTTONS
            // SIDEBAR MENU
            .profile-usermenu
              ul.nav
                li.active
                  a(href='/profilechange')
                    i.glyphicon.glyphicon-user
                    |      Profile

                li
                  a(href='#', target='_blank')
                    i.glyphicon.glyphicon-ok
                    |      help
                li
                  a(href='#', target='_blank')
                    i.glyphicon.glyphicon-ok
                    |    folllowers

            // END MENU
        .col-md-6
          .profile-content
            .container
              .row
                 i.glyphicon.glyphicon-pencil &nbsp;
                 | What's in your mind
              .row
                .col-md-5
                  .widget-area.no-padding.blank
                    .status-upload
                      form
                        textarea(name="tweet" placeholder='What are you doing right now?')
                        button.btn.btn-primary(type='submit')
                          i.fa.fa-share
                          |  tweet
                    // Status Upload
                  // Widget Area

        .col-md-3(style ="padding-top :30px")
          div(class="page-container")
            .sidebar-menu
              each rows in users
                img.card(style = "width: 20rem; padding-top :20px").card-img-top(src='./images/cover.jpg')
                .card-block
                  h4.card-title= rows.username
                  form(method="post" action="/follower")
                    input(type="hidden",name="followerId",value=rows.user_id)
                    button.btn.btn-primary(type="submit") follow
