extends ./layouts/main.pug

block content
  h1= title
  #wrapper
    .container.head
      ul.nav.nav-tabs
        li.active
          a(href='#') Twitter
        li
          a(href='#') Notification
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#') Logout
          li
            a(href='#') Link
            // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
    .container
      .row.profile
        .col-md-3
          .profile-sidebar
            // SIDEBAR USERPIC
            .profile-userpic
              img.img-responsive(src='./images/cover.jpg', alt='')
            // END SIDEBAR USERPIC
            // SIDEBAR USER TITLE
            .profile-usertitle
              .profile-usertitle-name
                | Marcus Doe
              .profile-usertitle-job
                | Developer
            // END SIDEBAR USER TITLE
            // SIDEBAR BUTTONS
            .profile-userbuttons
              button.btn.btn-primary.btn-sm(type='button') Follow
              button.btn.btn-primary.btn-sm(type='button') Unfollow
            // END SIDEBAR BUTTONS
            // SIDEBAR MENU
            .profile-usermenu
              ul.nav
                li.active
                  a(href='#')
                    i.glyphicon.glyphicon-user
                    |               change Profile picture

                li
                  a(href='#', target='_blank')
                    i.glyphicon.glyphicon-ok
                    |               help
                li
                  a(href='#', target='_blank')
                    i.glyphicon.glyphicon-ok
                    |               folllowers

            // END MENU
        .col-md-9
          .profile-content
            .container
              .row
                 i.glyphicon.glyphicon-pencil &nbsp;
                 | What's in your mind
              .row
                .col-md-6
                  .widget-area.no-padding.blank
                    .status-upload
                      form
                        textarea(placeholder='What are you doing right now?')
                        ul
                          li
                            a(title='', data-toggle='tooltip', data-placement='bottom', data-original-title='Audio')
                              i.fa.fa-music
                          li
                            a(title='', data-toggle='tooltip', data-placement='bottom', data-original-title='Video')
                              i.fa.fa-video-camera
                          li
                            a(title='', data-toggle='tooltip', data-placement='bottom', data-original-title='Sound Record')
                              i.fa.fa-microphone
                          li
                            a(title='', data-toggle='tooltip', data-placement='bottom', data-original-title='Picture')
                              i.fa.fa-picture-o
                        button.btn.btn-primary(type='submit')
                          i.fa.fa-share
                          |  tweet
                    // Status Upload
                  // Widget Area


